body {
    margin: 0px;
}

div#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'he he he he he he'
    'ab ab ab co co co'
    '.  aw aw aw aw . '
    '.  fo fo fo fo . '
    ;

    grid-template-columns: 10% 25% 25% 15% 15% 10%;
    grid-template-rows: 15% 65% 15% 5%;

    /* gap: 1em; */

    overflow-x: hidden;
    background-color: darkgreen;
}

div#container header {
    grid-area: he;

    display: flex;
    justify-content: space-evenly;

    height: 7em;
    margin-bottom: 0.5em;

    border: solid black;

    background-color: antiquewhite;
}

div#container section#about {
    grid-area: ab;
    border: solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;

    margin: 0.5em;
    padding: 1em;

    background-color: antiquewhite;
}

div#container figure#contact {
    grid-area: co;

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */

    overflow: hidden;
    margin: 0.5em;
    border: solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;

    background-color: antiquewhite;
}

div#container figure#contact img {
    width: 100%;
    border: solid black;
}

div#container section#awards {
    grid-area: aw;
    border: solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;

    display: flex;
    justify-content: space-evenly;
    margin: 0.5em;

    background-color: antiquewhite;
}

div#container footer#main-footer {
    grid-area: fo;

    margin: 0.5em;
    height: 2em;
    border: solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px grey;
    display: flex;

    background-color: antiquewhite;
}

div#container footer#main-footer nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

div#container footer#main-footer nav a {
    color: black;
}
