body {
    margin: 0px;
    background-color: darkgreen;
}

div#container {
    display: grid;

    height: 100vh;

    grid-template-areas: 
    'he he he he . '
    'ch in in .  . '
    'ch in in .  . '
    '.  .  .  .  . '
    'fo fo fo fo fo'
    ;

    overflow-x: hidden;
    grid-template-rows: 20% 30% 30% 10% 10%;
    grid-template-columns: 30% 30% 20% 5% 5%;
}

div#container header#main-header {
    grid-area: he;

    padding: 1em;
    margin: 0.5em;
    background-color: antiquewhite;
    border-radius: 5px;
    border: solid black;
    box-shadow: 2px 2px 3px grey;
}

div#container aside#full-chef-image {
    grid-area: ch;

    border-radius: 5px;
    border: solid black;
    box-shadow: 2px 2px 3px grey;

    margin: 1em;
}

div#container aside#full-chef-image img {
    height: 100%;
    width: 100%
}

div#container section#information {
    grid-area: in;

    margin: 1em;
    padding: 1.5em;
    background-color: antiquewhite;
    border-radius: 5px;
    border: solid black;
    box-shadow: 2px 2px 3px grey;

    display: grid;
    grid-template-areas: 
    'de de'
    'ci im'
    ;

    grid-template-rows: 50% 50%;
    grid-template-columns: 70% 30%;

    overflow-x: hidden;
}

div#container section#information article#description {
    grid-area: de;
}

div#container section#information article#citations {
    grid-area: ci;

    margin-right: 0.5em;
    padding: 1em;
    border: solid black;
}

div#container section#information img {
    grid-area: im;

    margin-left: 0.5em;
    border: solid black;

    width: 100%;
}

div#container footer#main-footer {
    grid-area: fo;

    height: 2em;
    border: solid black;
    border-radius: 5px;
    display: flex;

    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;

    background-color: antiquewhite;
}

div#container footer#main-footer nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

div#container footer#main-footer nav a {
    color: black;
}
