body {
    margin: 0px;
}

div#container {
    /* height: 150vh; */
    display: grid;
    grid-template-areas: 
    'bg1  he he he bg2'
    're  re  li  li  .  '
    're  re  li  li  .  '
    '.   fo  fo  fo  .  '
    ;
    
    grid-template-columns: 10% 5% 70% 5% 10%;
    grid-template-rows: 10% 10% 70% 10%;
    gap: 1em;
    overflow-x: hidden;

}

div#container header#main-header {
    grid-area: he;
    height: 10em;
    text-align: center;
    color: white;
    border: solid black;
    /* box-shadow: 2px 2px 3px grey; */

    background-image: url("../img/todd-quackenbush-x5SRhkFajrA-unsplash.jpg");
}

div#container div.background-green {
    grid-area: bg1 / bg1 / bg2 / bg2;
    background-color: darkgreen;
}

div#container section#reviews {
    grid-area: re;

    border: solid black;
    box-shadow: 2px 2px 3px grey;
}

div#container section#reviews h2 {
    color: green;
    margin-left: 1em;
}

div#container section#reviews div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;

    border-top: solid black;
    border-bottom: solid black;
}

div#container section#reviews div article {
    margin: 1em;
    border-bottom: solid black;
}

div#container section#lists {
    grid-area: li;
    width: 100%;

    padding: 1em;
    border: solid black;
}

div#container section#lists h2 {
    color: red;
}

div#container section#lists ul {
    /* height: 100%; */
    /* width: 100%; */
    padding: 0px;
    display: flex;
    list-style: circle inside;
    justify-content: space-evenly;
    flex-direction: column;
    /* border: solid black; */
}

div#container section#lists ul li {
    /* margin-top: 2px; */
    /* margin-bottom: 2px; */
    padding: 1em;
    font-size: 4em;
    /* border: solid black; */
    /* box-shadow: -1px -1px 2px 1px grey; */
    box-shadow: 0px 0px 10px grey;
}

div#container footer#main-footer {
    grid-area: fo;

    height: 2em;
    border: solid black;
    display: flex;
}

div#container footer#main-footer nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

div#container footer#main-footer nav a {
    color: grey;
}
